{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "src/core": "src/core",
        "src/navigation": "src/navigation",
        "src/components": "src/components",
        "src/styles": "src/styles",
        "src/assets": "src/assets"
      }
    }]
  ]
}
